<p id="notice"></p>
<div class="container">
  <h4 class="text-dark bg-light w-25 text-center mb-y">ユーザ投稿一覧</h4>
  <% if @posts.present? %>
  <!--@postが存在すればtrue-->
  <% @posts.each do |item| %>
    <div class="row card-shadow w-75">
      <div class="col-sm-2">
        <%= image_tag item.user.get_profile_image(200,200), size: "80x80" %>
      </div>
      <div class="col-sm">
        <div class="row">
          <div class="col-sm font-weight-bold"><%= item.user.name %></div>
          <div class="col-sm"><time><%= l DateTime.current, format: :short %></time></div>
          <div class="col-sm">
              <%= link_to "削除", admin_post_path(item.id), method: :delete %>
          </div>
        </div>
        <div><%= item.body %></div>
      </div>
    </div>
  <% end %>
  <% end %>
</div>

