<div class="container">
  <p id ="notice"></p>

  <%= form_with model: @user, url: user_path(current_user) do |f| %>
      <div class="field">
      <div class="row">
        <div class="col-sm-4">
        <%= f.label "Name", class: "col-form-label" %>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-3">
        <%= f.text_field :name, class: 'form-control-sm ' %>
        </div>
      </div>
    </div>
       
    <div class="field">
      <div class="row">
        <div class="col-sm-4">
        <%= f.label "Tel", class: "col-form-label" %>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-3">
        <%= f.text_field :telephone_number, class: 'form-control-sm ' %>
        </div>
      </div>
    </div>
    
     <div class="field">
      <div class="row">
        <div class="col-sm-4">
        <%= f.label "E-mail" , class: "col-form-label" %>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-3">
        <%= f.text_field :email,autofocus: true, autocomplete: "email", class: 'form-control-sm ' %>
        </div>
      </div>
    </div>
    
    <div class="actions text-center">
        <%= f.submit "編集内容を保存", class:"btn btn-success" %>
        <%= link_to "退会する", complete_users_path , data: { confilm: "本当に退会しますか？" }, class:"btn btn-danger ml-3" %>
    </div>
  <% end %>
  
  <% if current_user.name != "guestuser" %>
  <div class='row'>
    <%= link_to '',edit_user_path(@user),class: "btn btn-outline-secondary btn-block fas fa-user-cog edit_user_#{@user}" %>
  </div>
  <% end %>
</div>