<p id ="notice"></p>
<div>
  <%= flash[:notice] %>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-2"><h3>mypage</h3></div>
    <div class="col-sm-2">  
      <% if @user == current_user %>
        <% if current_user.name != "guestuser" %>
          <%= link_to user_information_edit_path, class: "btn btn-success" do %>
            <i class="fa-solid fa-user-gear" aria-hidden="true"></i>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="row justify-content-center mt-4">
    <div class="w-100"></div>
    <div class="col-sm-2 bg-light border py-2">Image</div>
    <div class="col-sm-3 border py-2">
      <%= image_tag @user.get_profile_image(200,200), size: "100x100" %>
    </div>
    <div class="w-100"></div>
    <div class="col-sm-2 bg-light border py-2">Name</div>
    <div class="col-sm-3 border py-2"><%= @user.name %></div>
    
    <div class="w-100"></div>
    <div class="col-sm-2 bg-light border py-2">Email</div>
    <div class="col-sm-3 border py-2"><%= @user.email %></div>
    
    <div class="w-100"></div>
    <div class="col-sm-2 bg-light border py-2">Tel</div>
    <div class="col-sm-3 border py-2"><%= @user.telephone_number %></div>
  </div>
</div>