<p id="notice"></p>
<div class="container">
  <div class="row">
   <% if @posts.present? %>
    <% @posts.each do |item| %>
      <div class="col-2">    
        <%= link_to  post_path(item.id) do %>
      　  <%= l item.created_at, format: :short %>
      　<% end %>
      </div>
      <div class="col-2">   
      　<%= item.user.name %>
      </div>
      <div class="col-4 text-wrap">   
      　<%= item.body %>
      </div>
      <div class="col-2">   
      　<%= link_to "#{item.comments.count} コメント", post_path(item.id), class: "text-secondary text-offset-2 text-underline-opacity-25 text-underline-opacity-100-hover" %>
      </div>
      <div class="col-2">   
      　<%= link_to "削除", post_path(item.id), method: :delete, class: "text-secondary text-offset-2 text-underline-opacity-25 text-underline-opacity-100-hover" %>
      </div>
    <% end %>
   <% end %>
  </div>
</div>
