<p id="notice"></p>
<div class="container">
<div class="mb-4 "><h2>My post</h2></div>
  <%#= render 'tem_post', post: @post %>
  <%#if current_user.id == @post.id %>
    <% @post.each do |item| %>
      <div class="row card-shadow w-75">
        <div class="col-2">
          <%= image_tag item.user.image, size: "80x80" %>
        </div>
        <div class="col-8">
          <div class="row">
            <div class="col font-weight-bold"><%= item.user.name %></div>
            <div class="col"><time><%= l DateTime.current, format: :short %></time></div>
            <div class="col"><%= link_to "削除", post_path(item.id), method: :delete %></div>
          </div>
          <div><%= item.body %></div>
          <div class="row">
            <div class="col">
              <%= link_to post_path(item.id) do %>
                <i class="fa-regular fa-comment"></i>
              <% end %>
            </div>
            <!--いいね機能-->
            <div class="col">
              <% if item.favorited_by?(current_user) %>
            <p>
              <%= link_to post_favorites_path(item), method: :delete do %>
                ♥<%= item.favorites.count %>
              <% end %>
            </p>
            <% else %>
            <p>
              <%= link_to post_favorites_path(item), method: :post do %>
                ♡<%= item.favorites.count %>
              <% end %>
            </p>
            <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    
  <%# end %>
  
  
</div>