<div class="container">
  <div class="row">
    <p></p>
      <div class="col mt-5">
        <%= form_with model: @post do |f| %>
          <%= f.text_area :body %>
          <%= f.submit 'Post' %>
          <%= f.label :is_published_flag, "公開", value: true %>
          <%= f.radio_button :is_published_flag, 'true' %>
          <%= f.label :is_published_flag, "非公開", value: false %>
          <%= f.radio_button :is_published_flag, 'false' %>
        <% end %>
      </div>
  </div>
</div>