<p id="notice"></p>
<div class="container">
  <div class="mb-4"><h2>New post</h2></div>
  <!--バリデーション-->
    <% if @post.errors.any? %>
      <%= @post.errors.count %>件のエラーが発生しました
      <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
    <%= form_with model: @post do |f| %>
    <div class="row">
        <div class="col-2">icon</div>
        <div>
          <div class="row">
            <div class="col">
              <%= f.label :is_published_flag, "公開", value: true %>
              <%= f.radio_button :is_published_flag, 'true' %>
            </div>
            <div class="col">
              <%= f.label :is_published_flag, "非公開", value: false %>
              <%= f.radio_button :is_published_flag, 'false' %>
            </div>
          </div>
          <div class="col my-3"><%= f.text_area :body %></div>
          <div class="col"><%= f.submit 'Post', class:"btn btn-primary" %></div>
        </div>
    </div>
  <% end %>  
</div>

